@media (max-width: 768px) {
  #searchInput {
    max-width: 100%;
  }

  main {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 1rem 1.25rem;
  }

  #filtroContainer {
    height: 42px;
  }

}

/* Celular */
@media (max-width: 480px) {
  header {
    padding: 1rem 1rem;
  }

  nav.pesquisa {
    flex-direction: column;
    gap: 1rem;
  }

  #filtroContainer {
    justify-content: center;
    width: 100%;
    padding: 0.6rem;
    height: auto;
  }

  #filtroContainer select {
    width: 100%;
  }

  main {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem auto;
  }

  .produto-card {
    padding: 1.2rem 1.5rem;
  }

  .desc-longa {
    font-size: 0.9rem;
  }
}